:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 1.25fr 5fr / repeat(5, 1fr);
}

/* header bar */

.header-bar {
  grid-area: 1 / 2 / 1 / 6;
  display: grid;
  grid-template: 1fr 1.5fr / 2fr 1fr;
  grid-template-areas: 
  "search profile"
  "greet actions";
}

.header-bar svg {
  height: 20px;
  width: 20px;
}

.user-img {
  width: 3vw;
  height: 6vh;
  background-color: #aaa;
  border-radius: 50px;
}

.img-small {
  width: calc(3vw * 0.7);
  height: calc(6vh * 0.7);
}

.search-section {
  grid-area: search;
}

.greet {
  grid-area: greet; 
}

.profile {
  grid-area: profile;
}

.actions {
  grid-area: actions;
}



 /* aside */

.aside {
  padding: 2vh 1vw;
  grid-area: 1 / 1 / 3 / 2;
  display: grid;
  grid-template: repeat(3, 1fr) 2fr / 1fr 1fr;
  grid-template-areas: 
   "title ."
   "nav-1 ."
   "nav-2 ."
   ". .";
  justify-items: start;
  gap: 5vh;
}

.nav {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
}

.nav-1 {
  grid-area: nav-1;
}

.nav-2 {
  grid-area: nav-2;
}

ul, li {
  list-style-type: none;

}

.dashboard-title > svg {
  height: 60px;
  width: 60px;
}

li > svg {
  width: 30px;
  height: 30px;
}


